ROOT=/chainlink
ETH_CHAIN_ID=3
LINK_CONTRACT_ADDRESS=0x20fe562d797a42dcb3399062ae9546cd06f63280
LOG_LEVEL=debug
MINIMUM_CONTRACT_PAYMENT=1000000000000000000
TX_MIN_CONFIRMATIONS=2
TASK_MIN_CONFIRMATIONS=2